<mat-card>
    <mat-card-title>
        <mat-selection-list role="list" fxLayout="row" [multiple]="false">
            <mat-list-option role="listoption"  
                            *ngFor="let item of roles$ | async" 
                            [value]="item"
                            (click)="onRoleChanged(item.id)">
                {{item.role}}
            </mat-list-option>
        </mat-selection-list>
        <mat-selection-list role="list" fxLayout="row" [multiple]="false">
            <mat-list-option role="listoption" 
                            *ngFor="let item of department$ | async" 
                            [value]="item"
                            (click)="onDepartmentChanged(item.id)">
                 {{item.name}}
            </mat-list-option>
        </mat-selection-list>
    </mat-card-title>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let item of users$ | async">
                {{item.email}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>