<h1>Order by tile</h1>
<form [formGroup]="jobsForm" (ngSubmit)="onProductsFormSubmitted(jobsForm)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Choose a property</mat-label>
            <mat-select formControlName="sortOption2">
                <mat-option *ngFor="let item of sortProperty$ | async" [value]="item">
                 {{item}}    
              </mat-option>
              </mat-select>
            <mat-error *ngIf="jobsForm.get('sortOption')!.invalid">sortOption is invalid</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
        <mat-label>Choose a direction</mat-label>
        <mat-select formControlName="sortOption">
            <mat-option *ngFor="let item of sortAscDSC$ | async" [value]="item">
             {{item}}    
          </mat-option>
          </mat-select>
        <mat-error *ngIf="jobsForm.get('sortOption')!.invalid">sortOption is invalid</mat-error>
    </mat-form-field>
</div>

<div>
<mat-list role="list"><mat-list-item role="listitem" *ngFor="let item of jobs$ | async">
     title: {{item.title}}     description : {{item.description}}

</mat-list-item></mat-list>